<nav class="navbar navbar-expand-md navbar-black bg-black ">

    <div class="container-fluid">

        <button  type="button" (click)="toggleSideMenu()" id="sidebarCollapse" title="">
            <span class="navbar-toggler-icon"> </span>

        </button>

        <img style="height: 50px" src="./assets/ETrainer3.png">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>

            </form>

            <ng-container *ngIf="loginService.isLoged(); else newDeb" >
                <button style="margin-left: 8px" class="btn btn-outline-success btn-login " type="button"
                     (click)="logout()"    >Logout</button>
            </ng-container>
            <ng-template #newDeb>
                <button style="margin-left: 8px" class="btn btn-outline-success btn-login " type="button"
                        [routerLink]="['/nomenu/login']">Login</button>
            </ng-template>



        </div>



    </div>
</nav>

<div class="w-100">


    <div class="sidebar " [ngClass]="{'show':isSideMenuOpen}">

        <ng-scrollbar>
            <div class="flex-shrink-0 p-3 ">
                <!-- <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap" />
                  </svg>
                  <span class="fs-5 fw-semibold">Collapsible</span>
                </a> -->
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#home-collapse" aria-expanded="true">
                            Home
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Who we are</a></li>
                                <li><a [routerLink]="['/tr/mision']">Mission and Vision</a></li>
                                <li><a [routerLink]="['/tr/objectives']">Objectives</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#dashboard-collapse" aria-expanded="false">
                            Resources
                        </button>
                        <div class="collapse" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Improve your English</a></li>
                                <li><a [routerLink]="['/tr/formulariotest']">Online test</a></li>
                                <li><a href="#" class="link-dark rounded">Certificates</a></li>
                            </ul>
                        </div>
                    </li>

                    <!--<li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#orders-collapse" aria-expanded="true">
                            Courses
                        </button>


                        <div class="collapse" id="orders-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a [routerLink]="['/tr/level1']" class="link-dark rounded">Level 1</a></li>
                                <li><a [routerLink]="['/tr/level2']" class="link-dark rounded">Level 2</a></li>
                                <li><a [routerLink]="['/tr/level3']" class="link-dark rounded">Level 3</a></li>
                                <li><a [routerLink]="['/tr/level4']" class="link-dark rounded">Level 4</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#account-collapse" aria-expanded="false">
                            Information
                        </button>
                        <div class="collapse" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a [routerLink]="['/tr/contactus']" class="link-dark rounded">Contact us</a></li>
                                <li><a [routerLink]="['/tr/followus']" class="link-dark rounded">Follow us</a></li>

                                <li><a href="#" class="link-dark rounded">News</a></li>

                            </ul>
                        </div>
                    </li>-->

                    <li class="mb-1"   *ngIf="loginService.isLoged()">
                        <!-- Botón para Courses -->
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#courses-collapse" aria-expanded="false">
                            Courses
                        </button>

                        <!-- Contenido desplegable de Courses -->
                        <div class="collapse" id="courses-collapse">
                            <div class="card card-body">
                                <!-- Botón para Level 1 dentro de Courses con sangría -->
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#l1pronouns-collapse" aria-expanded="false">
                                    Level 1
                                </button>

                                <!-- Contenido desplegable de Level 1 -->
                                <div class="collapse" id="l1pronouns-collapse">
                                    <!--<div class="card card-body">-->
                                        <!-- Aquí va el contenido específico de Level 1 -->
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                            <li><a [routerLink]="['/courses/l1pronouns']" class="link-dark rounded">Pronouns and Verb to be</a></li>
                                            <li><a [routerLink]="['/courses/level2']" class="link-dark rounded">Level 2</a></li>
                                            <li><a [routerLink]="['/courses/level3']" class="link-dark rounded">Level 3</a></li>
                                            <li><a [routerLink]="['/courses/level4']" class="link-dark rounded">Adjectives</a></li>
                                        </ul>
<!--                                    </div>-->

                                </div>

                                <!-- Botón para Level 2 dentro de Courses -->
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#level2-collapse" aria-expanded="false">
                                    Level 2
                                </button>

                                <!-- Contenido desplegable de Level 2 -->
                                <div class="collapse" id="level2-collapse">
                                    <div class="card card-body">
                                        <p>Contenido del Nivel 2 del curso de inglés.</p>
                                    </div>
                                </div>

                                <!-- Botón para Level 3 dentro de Courses -->
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#level3-collapse" aria-expanded="false">
                                    Level 3
                                </button>

                                <!-- Contenido desplegable de Level 3 -->
                                <div class="collapse" id="level3-collapse">
                                    <div class="card card-body">
                                        <p>Contenido del Nivel 3 del curso de inglés.</p>
                                    </div>
                                </div>

                                <!-- Botón para Level 4 dentro de Courses -->
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#level4-collapse" aria-expanded="false">
                                    Level 4
                                </button>

                                <!-- Contenido desplegable de Level 4 -->
                                <div class="collapse" id="level4-collapse">
                                    <div class="card card-body">
                                        <p>Contenido del Nivel 4 del curso de inglés.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#account-collapse" aria-expanded="false">
                            Information
                        </button>
                        <div class="collapse" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a [routerLink]="['/tr/contactus']" class="link-dark rounded">Contact us</a></li>
                                <li><a [routerLink]="['/tr/followus']" class="link-dark rounded">Follow us</a></li>

                                <li><a href="#" class="link-dark rounded">News</a></li>

                            </ul>
                        </div>
                    </li>

                </ul>
            </div>

        </ng-scrollbar>
    </div>


    <div style="position: fixed; top:65px; left:200px; right: 0px;  bottom: 0px; padding: 1rem; overflow: hidden; transition: all 0.3s ease; "
         [style.left]="isSideMenuOpen ? '200px': '0px'">

        <ng-scrollbar>
        <router-outlet>


        </router-outlet>
        </ng-scrollbar>
    </div>




</div>