.sidebar {
  position: fixed;
  top: 65px;
  bottom: 0;
  left: -200px;
  z-index: -1;
  width: 200px;
  background-color: #25438d;
  transition: all 0.3s ease;

}
.sidebar.show {
  left: 0;
}
.sidebar .list-group-item {
  border-radius: 0;
  border: none;
  cursor: pointer;
}
.sidebar .list-group-item:hover {

  background-color: #8F8681;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #E1C1A9;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: #0359AE;
}
.btn-toggle[aria-expanded="false"] {
  color: #0359AE;
  background-color: #cce5ff;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
  width: 80%;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #E1C1A9;
}

.list-unstyled li{
  background-color: #EBE5D9;
}


.list-unstyled   button {
  width: 100%;

}

.btn-login {
  background-color: white;
}

.navbar-black{
  background-color: #491e79 !important;
}
margenimagen {
  margin-right: 20px;
}

.imagenLogo{
  height: 50px; margin-left: 25px;margin-right: 25px
}

.imageEnglish{
  height: 30px;margin-right: 40px;
}

@media (max-width: 1024px) {
  .imageEnglish{
    height: 30px;margin-right: 40px;
  }

  .imagenLogo{
    height: 50px; margin-left: 25px;margin-right: 25px
  }
}

/* Móviles grandes (pantallas pequeñas) */
@media (max-width: 768px) {
  .imageEnglish{
    height: 20px;margin-right: 20px;
  }

  .imagenLogo{
    height: 50px; margin-left: 15px;margin-right: 15px
  }
}

/* Móviles (pantallas más pequeñas) */
@media (max-width: 480px) {
  .imageEnglish{
    display: none;
    /*height: 20px;margin-right: 10px;*/
  }

  .imagenLogo{

    height: 50px; margin-left: 5px;margin-right: 5px
  }
}
