<nav class="navbar navbar-expand-md navbar-black bg-black ">

    <div class="container-fluid">

        <button  type="button" (click)="toggleSideMenu()" id="sidebarCollapse" title="">
            <span class="navbar-toggler-icon"> </span>

        </button>
       <!--<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>-->
       <img class="imagenLogo" src="./assets/Imagen1.png" >
<!--        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>-->
        <img class="imageEnglish" src="./assets/Tituloblanco.png">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="inpBusqueda" name="inpBusqueda" [(ngModel)]="textoBusqueda" placeholder="Search" aria-label="Search"
                (keyup.enter)="cargarBusqueda()">
                <button style="margin-right: 10px" class="btn btn-outline-success" type="button" (click)="cargarBusqueda()" >Search</button>


            </form>

            <ng-container *ngIf="loginService.isLoged(); else newDeb" >
                <!--<button style="margin-left: 8px" class="btn btn-outline-success btn-login " type="button"
                     (click)="logout()"    >Logout</button>-->
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        {{usuario.nombreCompleto}}

                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><button class="dropdown-item" type="button" (click)="gotoUserInformation()" >User Information </button></li>
                        <li><button class="dropdown-item" type="button" (click)="logout()">Logout</button></li>
                    </ul>
                </div>

            </ng-container>


            <ng-template #newDeb>
                <button style="margin-left: 8px" class="btn btn-outline-success btn-login " type="button"
                        [routerLink]="['/nomenu/login']">Login</button>
            </ng-template>



        </div>



    </div>
</nav>

<div class="w-100">


    <div class="sidebar " [ngClass]="{'show':isSideMenuOpen}">

        <ng-scrollbar>
            <div class="flex-shrink-0 p-3 ">

                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#home-collapse" aria-expanded="true">
                            Home
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a [routerLink]="['/tr/aboutus']">About us</a></li>
                                <li><a [routerLink]="['/tr/mision']">Mission and Vision</a></li>
                                <li><a [routerLink]="['/tr/objectives']">Objectives</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#dashboard-collapse" aria-expanded="false">
                            Resources
                        </button>
                        <div class="collapse" id="dashboard-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a [routerLink]="['/tr/improveenglish']">Improve your English</a></li>
                                <li><a [routerLink]="['/tr/formulariotest']">Online test</a></li>
                                <li><a [routerLink]="['/tr/verbs']">List of Verbs</a></li>
                                <li><a [routerLink]="['/tr/learnseries']">Learn with series</a></li>

                            </ul>
                        </div>
                    </li>


                    <li class="mb-1"   *ngIf="loginService.isLoged()">
                        <!-- Botón para Courses -->
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#courses-collapse" aria-expanded="false">
                            Courses
                        </button>

                        <!-- Contenido desplegable de Courses -->
                        <div class="collapse show" id="courses-collapse">
                            <div class="card card-body">
                                <!-- Contenido desplegable de Level 1 -->
                                <ng-container *ngIf="usuario.level>='1'">
                                    <!-- Botón para Level 1 dentro de Courses con sangría -->
                                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#level1-collapse" aria-expanded="false">
                                        Level 1
                                    </button>
                                  <div class="collapse" id="level1-collapse">
                                    <!--<div class="card card-body">-->
                                        <!-- Aquí va el contenido específico de Level 1 -->

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                            <li><a [routerLink]="['/courses/l1pronouns']" class="link-dark rounded">Pronouns and Verb to be</a></li>
                                            <li><a [routerLink]="['/courses/l1adjectives']" class="link-dark rounded">Adjectives</a></li>
                                            <li><a [routerLink]="['/courses/l1nouns']" class="link-dark rounded">Nouns</a></li>
                                            <li><a [routerLink]="['/courses/l1demonstrative']" class="link-dark rounded">Demonstrative</a></li>
                                        </ul>
<!--                                    </div>-->
                                  </div>
                                </ng-container>


                                <!-- Contenido desplegable de Level 2 -->
                                <ng-container *ngIf="usuario.level>='2'">
                                    <!-- Botón para Level 2 dentro de Courses -->
                                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#level2-collapse" aria-expanded="false">
                                        Level 2
                                    </button>
                                <div class="collapse" id="level2-collapse">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                            <li><a [routerLink]="['/courses/l2presentsimple']" class="link-dark rounded">Present Simple Tense</a></li>
                                            <li><a [routerLink]="['/courses/l2pastsimple']" class="link-dark rounded">Past Simple Tense</a></li>
                                            <li><a [routerLink]="['/courses/l2futuresimple']" class="link-dark rounded">Future Simple Tense</a></li>
                                        </ul>
                                </div>
                                </ng-container>


                                <!-- Contenido desplegable de Level 3 -->
                                <ng-container *ngIf="usuario.level>='3'">
                                    <!-- Botón para Level 3 dentro de Courses -->
                                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#level3-collapse" aria-expanded="false">
                                        Level 3
                                    </button>
                                  <div class="collapse" id="level3-collapse">

                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                            <li><a [routerLink]="['/courses/l3presentcontinuous']" class="link-dark rounded">Present Continuous Tense</a></li>
                                            <li><a [routerLink]="['/courses/l3pastcontinuous']" class="link-dark rounded">Past Continuous Tense</a></li>
                                            <li><a [routerLink]="['/courses/l3futurecontinuous']" class="link-dark rounded">Future Continuous Tense</a></li>
                                        </ul>
                                  </div>
                                </ng-container>




                                <!-- Contenido desplegable de Level 4 -->
                                <ng-container *ngIf="usuario.level>='4'">
                                    <!-- Botón para Level 4 dentro de Courses -->
                                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#level4-collapse" aria-expanded="false">
                                        Level 4
                                    </button>
                                  <div class="collapse" id="level4-collapse">

                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a [routerLink]="['/courses/l4presentperfect']" class="link-dark rounded">Present Perfect Tense</a></li>
                                        <li><a [routerLink]="['/courses/l4pastperfect']" class="link-dark rounded">Past Perfect Tense</a></li>
                                    </ul>
                                  </div>
                                </ng-container>
                            </div>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#account-collapse" aria-expanded="false">
                            Information
                        </button>
                        <div class="collapse" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a [routerLink]="['/tr/contactus']" class="link-dark rounded">Contact us</a></li>
                                <li><a [routerLink]="['/tr/followus']" class="link-dark rounded">Follow us</a></li>
                                <li><a [routerLink]="['/tr/chat']" class="link-dark rounded">Chat</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>

        </ng-scrollbar>
    </div>


    <div style="position: fixed; top:65px; left:200px; right: 0px;  bottom: 0px; padding: 1rem; overflow: hidden; transition: all 0.3s ease; z-index:-1 "
         [style.left]="isSideMenuOpen ? '200px': '0px'">

        <ng-scrollbar>
        <router-outlet>


        </router-outlet>
        </ng-scrollbar>
    </div>

</div>