
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Your Logo</a>
  <button class="navbar-toggler" type="button"   (click)="toggleSideMenu()" id="sidebarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="sidebar " [ngClass]="{'show':isSideMenuOpen}">

    <ng-scrollbar>
  <div class="flex-shrink-0 p-3 " style="width: 200px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Home
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Who we are</a></li>
            <li><a href="#" class="link-dark rounded">Mission and Vision</a></li>
            <li><a href="#" class="link-dark rounded">Objectives</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Information
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Improve your English</a></li>
            <li><a href="#" class="link-dark rounded">Online test</a></li>
            <li><a href="#" class="link-dark rounded">Certificates</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Courses
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">English for kids</a></li>
            <li><a href="#" class="link-dark rounded">English for adults</a></li>
            <li><a href="#" class="link-dark rounded">English for Educators</a></li>
            <li><a href="#" class="link-dark rounded">Business English</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Resources
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Events</a></li>
            <li><a href="#" class="link-dark rounded">Poadcasts</a></li>
            <li><a href="#" class="link-dark rounded">Vocabulary</a></li>

          </ul>
        </div>
      </li>
    </ul>
  </div>

    </ng-scrollbar>
</div>
