
<div class="card" style="width: 100%; margin-bottom: 20px; display: flex;">
    <div class="card-body">
        <h5 class="card-title">Mission</h5>

        <div class="row">
            <div class="col-12 col-md-6  col-lg-6 mb-2">{{mission}}</div>
            <div class="col-12 col-md-6  col-lg-6">
                <img class="w-100" [src]="'assets/profesor-seguro.jpg'" alt="Mission image" style="margin-left: auto;">
                <p class="freepik-class" >Designed by freepik</p>

            </div>
        </div>

    </div>


</div>


<div class="card" style="width: 100%; margin-bottom: 20px">
    <div class="card-body card-degradado">
        <h5 class="card-title">Vision</h5>
        <div class="row" >
            <div class="col-12 col-md-6  col-lg-6 mb-2">{{vision}}</div>
            <div class="col-12 col-md-6  col-lg-6"  style="position: relative">
                <img class="w-100" [src]="'assets/kids-classroom.jpg'" alt="Vision image" style="margin-left: auto;">
                <p class="freepik-class"  ><a href="https://www.freepik.es/foto-gratis/oradora-dando-presentacion-salon-taller-universidad-audiencia-o-sala-conferencias_12726939.htm#query=educacion&position=7&from_view=keyword&track=sph&uuid=0f4c8b42-6149-4aba-a2e7-5bcc2b775943">Imagen de master1305</a> en Freepik</p>
            </div>
<!--            <a href="https://www.freepik.es/foto-gratis/oradora-dando-presentacion-salon-taller-universidad-audiencia-o-sala-conferencias_12726939.htm#query=educacion&position=7&from_view=keyword&track=sph&uuid=0f4c8b42-6149-4aba-a2e7-5bcc2b775943">Imagen de master1305</a> en Freepik-->
        </div>
    </div>
</div>
