/* formulariotest.component.css */

.test-form {
    max-width: 750px;
    margin: 0 auto;
    padding: 5px;
    background-color: #fcfcfc;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-container {
    margin-bottom: 20px;
}

.question-fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
}

.question-legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.option-container {
    margin-bottom: 10px;
}

.option-label {
    display: block;
    font-size: 1em;
    color: #525151;
}

.option-label input[type="radio"] {
    margin-right: 10px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #25438c;
}

.result-container {
    margin-top: 20px;
    text-align: center;
}

.result-container h2 {
    font-size: 1.5em;
    color: #333;
}
