<h2>Future Continuous</h2>
<p>It is used when an action will be happening in the future.
    <!--  <span class="highlight-green">proud</span>-->
</p>
<p> Subject = S&nbsp;&nbsp;&nbsp;&nbsp;Aux=Will be&nbsp;&nbsp;&nbsp;&nbsp;Verb =V&nbsp;&nbsp;&nbsp;&nbsp;Complement= C
    </p>
<div class="container">
    <div class="chart-container">
        <table>
            <thead>
            <tr>
                <th>Structure</th>
                <th>Form</th>
                <th>Example</th>

            </tr>
            </thead>
            <tr *ngFor="let item of futurecontinuousstructure">
                <td>{{ item.structure }}</td>
                <td>{{ item.form }}</td>
                <td>{{ item.example }}</td>

            </tr>

        </table>
    </div>
</div>

<div>
    <h2>Order the sentences</h2>
    <p>Order the words and type the correct sentence. Remember to use the structure.</p>
    <p><strong>Words:</strong> {{ currentSentence.words.join(' / ') }}</p>

    <input [(ngModel)]="userAnswer" placeholder="Type your answer" class="input-placeholder"/>
    <button (click)="checkAnswer()">Send</button>
    <button (click)="clearAnswer()">Try again</button>

    <p *ngIf="feedback">{{ feedback }}</p>

    <div>
        <button (click)="previousSentence()" [disabled]="currentSentenceIndex === 0">Previous</button>
        <button (click)="nextSentence()" [disabled]="currentSentenceIndex === sentences.length - 1">Next sentence</button>
    </div>
</div>
