<h2>Pronouns and verb "To Be"</h2>

<table>
    <tr>
        <th>Subject</th>
        <th>Positive Form</th>
        <th>Negative Form</th>
    </tr>
    <tr>
        <td>I</td>
        <td><span class="be-verb">I'm</span> (I am)</td>
        <td><span class="be-verb">I'm not</span> (I am not)</td>
    </tr>
    <tr>
        <td>You</td>
        <td><span class="be-verb">You're</span> (You are)</td>
        <td><span class="be-verb">You're not</span> (You are not)</td>
    </tr>
    <tr>
        <td>He</td>
        <td><span class="be-verb">He's</span> (He is)</td>
        <td><span class="be-verb">He's not</span> (He is not)</td>
    </tr>
    <tr>
        <td>She</td>
        <td><span class="be-verb">She's</span> (She is)</td>
        <td><span class="be-verb">She's not</span> (She is not)</td>
    </tr>
    <tr>
        <td>It</td>
        <td><span class="be-verb">It's</span> (It is)</td>
        <td><span class="be-verb">It's not</span> (It is not)</td>
    </tr>
    <tr>
        <td>We</td>
        <td><span class="be-verb">We're</span> (We are)</td>
        <td><span class="be-verb">We're not</span> (We are not)</td>
    </tr>
    <tr>
        <td>They</td>
        <td><span class="be-verb">They're</span> (They are)</td>
        <td><span class="be-verb">They're not</span> (They are not)</td>
    </tr>
</table>

<p><i>Note: "They're" can also be a contraction for "they were" in past tense.</i></p>

