<h2>Learn English by watching series</h2>
<i><p><strong>Seinfield</strong> was an american comedy about the friendship, relationships and
their daily lives.</p></i>

<!--Insertion code-->

<iframe width="903" height="508"
  src="https://www.youtube.com/embed/G9wMTL-8tkY?list=PLlVN1DLN6NfM2rrwxyf7VMObUadobA_z2"
  title="SEINFELD | Kramer and Chicken Roasters | HD" frameborder="0" allow="accelerometer;
  autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


