<h2>Nouns</h2>
<p>Nouns are words that represent a person, thing, place or animal.</p>
<div class="chart-container">
    <div class="chart-section countable">
        <h4>Countable Nouns</h4>
        <table>
            <thead>
            <tr>
                <th>Feature</th>
                <th>Description</th>
                <th>Examples</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Countable</td>
                <td>Nouns can be counted individually.</td>
                <td>dog (singular), dogs (plural)</td>
            </tr>
            <tr>
                <td>Quantifiers</td>
                <td>Use with numbers and words like "many," "few."</td>
                <td>four bananas, many books</td>
            </tr>
            <tr>
                <td>Plural Forms</td>
                <td>Indicate more than one.</td>
                <td>dog/dogs, book/books</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="chart-section uncountable">
        <h4>Uncountable Nouns</h4>
        <table>
            <thead>
            <tr>
                <th>Feature</th>
                <th>Description</th>
                <th>Examples</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Uncountable</td>
                <td>Nouns can not be counted individually.</td>
                <td>water, sand, milk</td>
            </tr>
            <tr>
                <td>Quantifiers</td>
                <td>Use with expressions like "some," "much," "a little."</td>
                <td>some water, a lot of information</td>
            </tr>
            <tr>
                <td>No Plural Forms</td>
                <td>No plural form.</td>
                <td>furniture, advice</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
